*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
html, body{
	height: 100%;
}
body{
    

	background: url(https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE3XFxcLzEyXFxcLzI4MDczNDUwXFxcL3Nub3d0cmVlLmpwZ1wiLFwid2lkdGhcIjo3NjcsXCJoZWlnaHRcIjo0MzEsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL3d3dy5qb2UuaWVcXFwvYXNzZXRzXFxcL2ltYWdlc1xcXC9qb2VcXFwvbm8taW1hZ2UucG5nP3Y9NVwifSIsImhhc2giOiJmZmM0NzlhM2MyMWExMTY5NDMxNWE4MTRhOTdjNTQyYzgwY2M2MTc5In0=/snowtree.jpg) no-repeat center center ;
	background-size: cover;
	background-attachment: fixed;
    /*background: linear-gradient( #d9d9d9, #f2f2f2) no-repeat center center;
    background-attachment: fixed;
    background-size: cover; */
	
}

.header{
    
    padding-bottom: 2rem;
    background-color: hsla(12, 100%, 75%, .5); 
     

}
.christmas{
     font-size: 40px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-family: 'EB Garamond', serif;
      white-space: nowrap;
	text-align: center;
}
.christmas::before{
    content:url(assets/gift.png);
     position: relative;
      left:  -20px;
      top: 2px;

}
.christmas::after{
    content:url(assets/gift.png);
     position: relative;
   right:  -20px;
   top: 2px;

}
.container-image{
    width: 400px;
    height: 270px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}
.carousel-inner, .carousel-inner img{
    min-width: 400px;
    min-height: 270px;
}


@media(max-width: 500px){
    .container-image{
    width: 300px;
    height: 200px;
   
    
}
    
  .carousel-inner, .carousel-inner img{
    min-width: 300px;
    min-height: 200px;
}  
    .christmas{
        font-size: 2.5rem;
    }  
    
    
} 

.wrapper{
	
	
	font-size: 17px;
	background-color: hsla(0, 0%, 100%, .5);
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 1rem;
	
	
}

.text{
	
    font-size: 17px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.6;
    padding-top: 10px;
	
}
.table{
	width: 100%;
	
	margin-right: auto;
	margin-left: auto;
	display: block;
    border: 1px solid #a6a6a6;
	background-color: hsla(0, 0%, 90%, .5);
	overflow: auto;
	margin-bottom: 1rem;
	
	
	
}


.bar{
	width: 15%;
	display: inline-block;
	height: 100%;
	float: left;
    border-right: 1px solid #a6a6a6;  
	 
}




.bar button{
	background-color: inherit;
	border: none;
    outline: none;
    cursor: pointer;
	padding: 5px 5px 5px 5px;
	 transition: 0.3s;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.bar button:hover{
	background-color: hsla(140, 100%, 65%, .5);
}
.bar button.active{
	background-color: hsla(12, 100%, 65%, .5);
	

}
.bar ul{
		list-style-type: none;
	}	


.tab-content{
	width: 80%;
	float: left;
    text-align: justify;
	
	
	
} 
.tab-content p{
	
	padding-left: 2rem;
	padding-right: 2rem;
	
}
.green{
 
 text-align: center;
 overflow: hidden;
 font-family: 'Great Vibes', cursive;
 background-color: hsla(120, 59%, 70%, .5);

 padding-bottom: 2rem;


}




@media (min-width: 750px){
.header, .wrapper, .green{

	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	}
	.green {
		 margin-bottom: 2rem;
	}
	.brad{
		font-size: 50px;
	}
	.brad::before{
	content:url(assets/brad.png);
     position: relative;
      left:  -20px;
      top: 20px;
	
}
.brad::after{
	content:url(assets/brad.png);
     position: relative;
      right:  -20px;
      top: 20px;
	
}
	
	
}
@media(max-width: 500px){
	.header{
	    overflow: hidden;
		width: 100%;
		
	}
	.wrapper{
		width: 100%;
	}
.bar{
	width: 100%;
}
.bar-nav{
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	
}

	
.bar-nav li{
  display: inline;
  
}
.tab-content{
	width: 100%;
	text-align: justify;
	padding-left: 2rem;
	padding-right: 2rem;
	
}
	.bar{
		border-right: none;
	}
	.green{
		width: 100%;
		padding-right: 5px;
		padding-left: 5px;
		
	}
	.brad{
		font-size: 35px;
	}
	
 .brad::before{
	content:url(assets/brad-mobile.png);
     position: relative;
      left:  -20px;
      top: 10px;
	
}
.brad::after{
	content:url(assets/brad-mobile.png);
     position: relative;
      right:  -20px;
      top: 10px;
	
}	
	
	
}



